*{
    background-color: #333333;
    --main-color:#E75480;
    --border:.2rem solid #FFB6C1;
}

.log{
    width: 100px;
    height: 100px;
    position: fixed;
}
.image{
    width: 1000px;
    height: 500px;
    margin-left: 40px;
    margin-right: 50px;
    display: flexbox;
}

