*{
    background-color: #333333;
    --main-color:#E75480;
    --border:.2rem solid #FFB6C1;
}

.log{
    width: 100px;
    height: 100px;
    position: fixed;
}
.image{
    width: 1000px;
    height: 400px;
    margin-left: 90px;
    margin-right: 20px;
    display: flexbox;
}
.about-section{
    color: azure;
    text-align: center;
    margin-bottom: 20px;  
    margin-left: 50px;  
    margin-right: 50px;
}

.team{
    margin-top: 100px;
}

h2{
    color: white;
}

