@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    background-color: #B21E89;
    height: 15vh;
    /* position: fixed; */
    background-attachment: fixed;
    /* z-index: 2; */

}

.host, .head a{
    font-family: Rancho;
    font-size: 40px;
    color: white;
    justify-self: center;
    line-height: 0.8rem;
}
.head a{
    color: white;
    font-size: 25px;
}
.houses, .houses1{
    height: auto;
    padding-top: 100px;
    /* z-index: -100; */
}
/* #house{
    display: none;
} */
#guide{
    margin-left: 300px; 
    /* color: white; */
     display: none;
}
.more{
    /* margin-top: 460px; */
    background-color: #333333;
    color: white;
    border-radius: 20px;
}
#more{
    width: 800px;
    margin-left: 180px;
}
#guide1{
    color: blue;
}
#guide1:hover{
    text-decoration: underline;
    text-transform: calc(3%, 3%);
}
#back{
    margin-top: 30px;
    margin-left: 240px;
}
input, select{
    width: 300px;
    padding: 5px;
    color: black;
    border-radius: 12px;
}
#book{
    background-color: #333333;
    color: white;
}
#proceed, #back, #backtobook, #proceedtobook, #confirm1, #confirm2, #checkout, #checkout1{
    padding: 9px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid white;
    color: #B21E89;
}
#back:hover, #proceed:hover{
    color: white;
    background-color: #B21E89;
}
#summary{
    margin-left: 150px;
}
#sumtable{
    height: 70vh;
    background-color: black;
    display: none;
}
#summary span{
    height: 50vh;
    color: #B21E89;
    font-size: 20px;
}
/* #thank1, #thank2{
    background-color: black;
} */
.pay, .thank, .thank2{
    display: none;
}
/* .thank{
    color: #B21E89;
} */

#footer{
    background-color: #333333;
    height: 60px;
    padding-top: 25px;
}


/* //media queries */

@media only screen and (max-width: 400px){
    #more{
        margin-left: 20px;
        width: 80%;
    }
    #book{
        width: 90%;
    }
    #summary{
        margin-left: 10px;
    }
}























