*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    background-color: #B21E89;
    height: 15vh;
    /* position: fixed; */
    background-attachment: fixed;
    /* z-index: 2; */

}
.head img{
    border-radius: 25px;
}
.head a{
    color: white;
    font-size: 25px;
}
.houses{
    height: auto;
    padding-top: 100px;
    /* z-index: -100; */
}
.more{
    /* margin-top: 460px; */
    background-color: black;
    color: white;
    border-radius: 20px;
}
#more{
    width: 800px;
    margin-left: 180px;
}
input, select{
    width: 300px;
    padding: 5px;
    color: black;
    border-radius: 12px;
}
#book{
    background-color: #B21E89;
    color: black;
}


















